// Fuentes empleadas.

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import "./parciales/reset";
@import "./parciales/navbar";
@import "./parciales/titulos";
@import "./parciales/carousel";
@import "./parciales/servicios";
@import "./parciales/form";

// Medias querys, repasar

/*
 * Medias Querys
 * max-width, hasta.
 * min-width, desde.
 */

@media (max-width: 900px) {

    .header__nav,
    .footer__nav {
        height: 3.5rem;
        display: grid;
        grid-template-columns: 15vw auto 15vw;
        justify-content: stretch;
    }
}

@media (max-width: 768px) {

    .header__nav,
    .footer__nav {
        height: 3.5rem;
        display: grid;
        grid-template-columns: 10vw auto 10vw;
        justify-content: stretch;
    }

    .main-section__title h1 {
        font-size: x-large;
    }

    .value-section i {
        font-size: 2rem;
    }

    .second-section--row {
        flex-direction: column;
    }

    #segundaImagen {
        order: 1;
    }

    #segundaDescripcion {
        order: 2;
    }

    .carousel-inner p {
        font-size: large;
    }
}

@media (max-width: 650px) {

    .row__personal {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .row__personal--foot {
        flex-direction: row;
    }

    .row__value {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .value-section {
        width: auto;
    }

    .second-section--col img {
        width: 350px;
    }

    .header__nav {
        height: auto;
    }

    .contact-section {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .contact-section--row,
    .contact-section--col,
    .contact-section--button {
        margin-left: 0;
        margin-right: 0;
    }

    .contact-section--col.consulta input {
        height: 150px;
    }
}

@media (max-width: 320px) {

    .second-section--col img {
        width: 320px;
    }
}