@import "./variable";

// Carousel - REV.OK 23/02/2022

.carousel-inner {
    img {
        height: 350px;
        width: 100%;
        object-fit: cover;
    }

    p {
        width: auto;
        font-family: 'Catamaran',
            sans-serif;
        font-size: x-large;
        color: $carousel-font-color;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 0.5rem;
    }
}

// Medias querys

@media (max-width: 768px) {

    .carousel-inner p {
        font-size: large;
    }
}