@import "./variable";
@import "./mixins";

// Carousel - REV.OK 23/02/2022

.carousel-inner {
    img {
        @include imgFormat (350px, 100%, cover);
    }

    p {
        @include textFormat ($Catamaran, x-large, center, $carousel-font-color, normal);
        width: auto;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 0.5rem;
    }
}

// Medias querys

@media (max-width: 768px) {
    .carousel-inner p {
        font-size: large;
    }
}