// Link de interés: https://sass-lang.com/documentation/at-rules/extend

@import "./variable";
@import "./mixins";

// Form de login. REV. OK. 27/02/2022.

.form__login {
    margin: 1rem;
    padding: 1rem;
    background-color: $font-color;

    label {
        display: block;
        @include textFormat ($Conforta, 1rem, start, $main-bg-color, normal);
    }

    button {
        @include textFormat ($Conforta, 1rem, center, $font-color, normal);
        margin: 1.5rem 0rem 1.5rem 0rem;
        height: 3rem;
        width: 75%;
        background-color: $main-bg-color;
        // align-items: center;
    }

    &--alta-usuario {
        background-color: $font-color-alta-usuario;

        label {
            color: $main-bg-color-alta-usuario;
        }

        button {
            background-color: $main-bg-color-alta-usuario;
        }
    }
}

.form__contacto {
    @extend .form__login;
    margin-bottom: 4rem;

    textarea {
        height: 10vh;
        resize: none;
    }
}

// Repasar la definición de estas tres clases que siguen. 27/02/2022

.form-group {
    margin-bottom: 1rem;
}

.col__login {
    margin-bottom: 16px;
}

.row__button {
    @include flexFormat (flex, row, nowrap, center, center);
}