@import "./variable";

// Flexboxs REV.OK 23/02/2022

.row__personal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center; //align-items: flex-start; // Ver esto para el caso de los valores del index.html

    &--valores {
        margin-bottom: 4rem;
        align-items: flex-start;
    }

    &--foot {
        justify-content: space-evenly;
        padding: 0;
    }
}

// Comentada, revisar. emoroni.
// .col__personal {
//     flex-basis: 100%;
//     margin: 0 1rem 1rem 1rem;
//     align-items: center;
// }

.col {
    /* Podría reemplazar esta propiedad con un width del 100%. */
    flex-basis: 100%;
    margin: 0 1rem 1rem 1rem;
}

// Navbar - REV.OK 23/02/2022

.header__boots {
    background-color: $main-bg-color;
    padding: 5px;
    margin: auto;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;

    // Este modificador es empleado para cambiar el color de fondo en la página de alta de usuario. emoroni.
    &--alta-usuario {
        background-color: $main-bg-color-alta-usuario;
    }
}

.navbar {

    // Esto lo hago para que cuando la pantalla esté por debajo del breakpoint, el botón desplegable se coloque a la derecha. emoroni. 
    .container-fluid {
        justify-content: end;
    }
}

.navbar-collapse {
    justify-content: center;
}

.navbar-nav {
    a {
        text-align: center;
        padding: 5px;
        margin: 0.5rem;

        &:hover {
            background-color: $main-bg-color-t;
        }
    }
}

// Footer - REV.OK 23/02/2022

footer {
    width: 100%;
    background-color: $main-bg-color;
    overflow: hidden;
    position: fixed;
    bottom: 0%;
}

.footer__nav {
    height: 3.5rem;
    display: grid;
    grid-template-columns: 20vw auto 20vw;
    justify-content: stretch;

    ul li {
        font-size: 2rem;
        padding: 5px;
        margin: 0px 10px 0px 10px;
    }
}

.fa-facebook-square:hover {
    color: rgba(59, 89, 152, 0.5);
}

.fa-whatsapp:hover {
    color: rgba(74, 201, 89, 0.5);
}

.fa-instagram:hover {
    color: rgba(131, 58, 180, 0.5);
}

// Medias querys

@media (max-width: 900px) {

    .footer__nav {
        height: 3.5rem;
        display: grid;
        grid-template-columns: 15vw auto 15vw;
        justify-content: stretch;
    }

}

@media (max-width: 768px) {

    .footer__nav {
        height: 3.5rem;
        display: grid;
        grid-template-columns: 10vw auto 10vw;
        justify-content: stretch;
    }
}

@media (max-width: 650px) {

    .row__personal {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;

        &--foot {
            flex-direction: row;
        }
    }
}