@import "./variable";

// Tarjetas de servicios. REV. OK. 23/02/2022.

.second-section {
    margin-bottom: 5rem;

    img {
        height: 250px;
        width: 400px;
        object-fit: cover;
    }

    h3 {
        font-family: 'Catamaran', sans-serif;
        font-size: larger;
        text-align: center;
        color: $main-font-color;
        margin: 0.25rem;
    }

    p {
        color: $main-font-color;
        font-family: 'Roboto', sans-serif;
        font-size: medium;
        font-weight: bolder;
    }

    &--row {
        margin-top: 1rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: 0rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $main-font-color;
    }

    &--col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 1rem 0rem 1rem;
    }
}

#segundaImagen {
    order: 2;
}

#segundaDescripcion {
    order: 1;
}