@import "./variable";
@import "./mixins";

// Imagenes de los consultorios

.img-section {

    &__col {
        @include flexFormat (flex, column, nowrap, space-evenly, center);

        padding: 0.5rem;
        margin: 1rem 4rem 1rem 4rem;
        border-bottom: 1px solid $main-font-color;
    }

    img {
        @include imgFormat (400px, 600px, cover);
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $main-font-color;
    }
}

#ultimaImagen {
    margin-bottom: 4.5rem;
}

// Tarjetas de servicios. REV. OK. 27/02/2022.

.second-section {
    margin-bottom: 5rem;

    img {
        @include imgFormat (250px, 400px, cover);
    }

    h3 {
        @include textFormat ($Catamaran, larger, center, $main-font-color, bold);
        margin: 0.25rem;
    }

    p {
        @include textFormat ($Roboto, medium, center, $main-font-color, bolder);
    }

    &--row {
        margin: 1rem 4rem 0rem 4rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $main-font-color;
    }

    &--col {
        @include flexFormat (flex, column, nowrap, center, center);
        flex-basis: 100%;
        margin: 0 1rem 0rem 1rem;
    }
}

#segundaImagen {
    order: 2;
}

#segundaDescripcion {
    order: 1;
}

@media (max-width: 768px) {

    .second-section {
        &--row {
            flex-direction: column;
            margin-left: 1rem;
            margin-right: 1rem;
            padding-bottom: 0;

        }

        &--col {
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }

    #segundaImagen {
        order: 1;
    }

    #segundaDescripcion {
        order: 2;
    }

}

@media (max-width: 650px) {

    .img-section {
        img {
            @include imgFormat (300px, 350px, cover);
            margin-bottom: 1rem;
        }
    }

    .second-section {
        // Estoy perdiendo la propiedad de row_personal y tengo que volver a escrirlo acá, pero no encuentro porque. emoroni.

        &--row {
            margin-left: 1rem;
            margin-right: 1rem;
            padding-bottom: 0;
        }

        &--col {
            margin-left: 1rem;
            margin-right: 1rem;

            img {
                width: 350px;
            }
        }
    }
}

@media (max-width: 320px) {

    .img-section {
        img {
            @include imgFormat (250px, 300px, cover);
            margin-bottom: 1rem;
        }
    }

    .second-section {
        &--row {
            margin-left: 1rem;
            margin-right: 1rem;
            padding-bottom: 0;
        }

        &--col {
            margin-left: 1rem;
            margin-right: 1rem;

            img {
                width: 320px;
            }
        }
    }
}