// Colores

$main-bg-color: rgb(83, 158, 143);
$main-bg-color-alta-usuario: rgb(83, 131, 158);
$main-bg-color-t: rgba(255, 255, 255, 0.1);
$font-color: rgb(226, 232, 192);
$font-color-alta-usuario: rgb(221, 231, 235);
$carousel-font-color: rgb(51, 98, 88);
$main-font-color: rgb(108, 133, 117);