@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/*
 * Esta opción la coloco para que no se vea la barra vertical de scroll pero que no se pierda la
 * funcionalidad. emoroni.
 */
body::-webkit-scrollbar {
  display: none; }

/*
 * Esta opción la coloco para que no aparezcan los cursos de up y down en el campo numérico. emoroni.
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-weight: bold;
  margin: 0;
  font-size: 1.17rem; }

h3 {
  font-weight: bold;
  margin: 0;
  font-size: 1.17rem; }

p {
  margin-bottom: 0; }

hr {
  margin: 0;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-color: #6c8575; }

a {
  text-decoration: none;
  /* Modificación por Bootstrap */
  color: #e2e8c0; }
  a:hover {
    /* Modificación por Bootstrap */
    color: #e2e8c0; }

li {
  list-style-type: none; }

.row__personal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .row__personal--valores {
    margin-bottom: 4rem;
    align-items: flex-start; }
  .row__personal--foot {
    justify-content: space-evenly;
    padding: 0; }

.col {
  /* Podría reemplazar esta propiedad con un width del 100%. */
  flex-basis: 100%;
  margin: 0 1rem 1rem 1rem; }

.header__boots {
  font-family: "Comfortaa", cursive;
  font-size: 1rem;
  text-align: center;
  color: #e2e8c0;
  font-weight: normal;
  background-color: #539e8f;
  padding: 5px;
  margin: auto; }
  .header__boots--alta-usuario {
    background-color: #53839e; }

.navbar .container-fluid {
  justify-content: end; }

.navbar-collapse {
  justify-content: center; }

.navbar-nav a {
  text-align: center;
  padding: 5px;
  margin: 0.5rem; }
  .navbar-nav a:hover {
    background-color: rgba(255, 255, 255, 0.1); }

footer {
  width: 100%;
  background-color: #539e8f;
  overflow: hidden;
  position: fixed;
  bottom: 0%; }

.footer__nav {
  height: 3.5rem;
  display: grid;
  grid-template-columns: 20vw auto 20vw;
  justify-content: stretch; }
  .footer__nav ul li {
    font-size: 2rem;
    padding: 5px;
    margin: 0px 10px 0px 10px; }

.fa-facebook-square:hover {
  color: rgba(59, 89, 152, 0.5); }

.fa-whatsapp:hover {
  color: rgba(74, 201, 89, 0.5); }

.fa-instagram:hover {
  color: rgba(131, 58, 180, 0.5); }

@media (max-width: 900px) {
  .footer__nav {
    grid-template-columns: 15vw auto 15vw; } }

@media (max-width: 768px) {
  .footer__nav {
    grid-template-columns: 10vw auto 10vw; } }

@media (max-width: 650px) {
  .row__personal {
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem; }
    .row__personal--foot {
      flex-direction: row; } }

.main-section__title h1 {
  font-family: "Catamaran", sans-serif;
  font-size: xx-large;
  text-align: center;
  color: #6c8575;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem 4rem 1rem 4rem;
  border-bottom: 1px solid #6c8575; }

.main-section__title--servicios h1 {
  margin-top: 0rem; }

.main-section__parrafo p {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  text-align: center;
  color: #6c8575;
  font-weight: bolder;
  margin: 1rem 4rem 0rem 4rem; }

.main-section video {
  margin-top: 1rem;
  width: 100%;
  height: 400px; }

.value-section {
  width: 100%;
  margin: 0 1rem 1rem 1rem; }
  .value-section i {
    display: inline-block;
    color: #6c8575;
    font-size: 2.5rem;
    margin: 1rem; }
  .value-section p {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    text-align: center;
    color: #6c8575;
    font-weight: bolder; }

.aboutUs-section--row {
  justify-content: space-evenly; }

.aboutUs-section__googleMaps iframe {
  width: 60vw;
  height: 60vh; }

.aboutUs-section__info h3 {
  font-family: "Catamaran", sans-serif;
  font-size: larger;
  text-align: center;
  color: #6c8575;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem 4rem 1rem 4rem;
  border-bottom: 1px solid #6c8575; }

.aboutUs-section__info p,
.aboutUs-section__info a {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  text-align: center;
  color: #6c8575;
  font-weight: bolder; }

#primerTitulo {
  margin-top: 0rem; }

#googleMap {
  order: 1; }

#infoGeneral {
  order: 2; }

.signIn {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .signIn a {
    font-family: "Catamaran", sans-serif;
    font-size: large;
    text-align: center;
    color: #6c8575;
    font-weight: normal;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid #6c8575; }

@media (max-width: 768px) {
  .main-section__title h1 {
    font-size: x-large; }
  .value-section i {
    font-size: 2rem; } }

@media (max-width: 650px) {
  .row__value {
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem; }
  .value-section {
    width: auto; }
  .aboutUs-section--row {
    margin-bottom: 4.5rem; }
  .aboutUs-section__googleMaps iframe {
    margin-top: 1rem;
    width: 80vw;
    height: 30vh; }
  #googleMap {
    order: 2; }
  #infoGeneral {
    order: 1; } }

.carousel-inner img {
  height: 350px;
  width: 100%;
  object-fit: cover; }

.carousel-inner p {
  font-family: "Catamaran", sans-serif;
  font-size: x-large;
  text-align: center;
  color: #336258;
  font-weight: normal;
  width: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem; }

@media (max-width: 768px) {
  .carousel-inner p {
    font-size: large; } }

.img-section__col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 4rem 1rem 4rem;
  border-bottom: 1px solid #6c8575; }

.img-section img {
  height: 400px;
  width: 600px;
  object-fit: cover;
  margin-bottom: 1rem; }

#ultimaImagen {
  margin-bottom: 4.5rem; }

.second-section {
  margin-bottom: 5rem; }
  .second-section img {
    height: 250px;
    width: 400px;
    object-fit: cover; }
  .second-section h3 {
    font-family: "Catamaran", sans-serif;
    font-size: larger;
    text-align: center;
    color: #6c8575;
    font-weight: bold;
    margin: 0.25rem; }
  .second-section p {
    font-family: "Roboto", sans-serif;
    font-size: medium;
    text-align: center;
    color: #6c8575;
    font-weight: bolder; }
  .second-section--row {
    margin: 1rem 4rem 0rem 4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #6c8575; }
  .second-section--col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin: 0 1rem 0rem 1rem; }

#segundaImagen {
  order: 2; }

#segundaDescripcion {
  order: 1; }

@media (max-width: 768px) {
  .second-section--row {
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 0; }
  .second-section--col {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem; }
  #segundaImagen {
    order: 1; }
  #segundaDescripcion {
    order: 2; } }

@media (max-width: 650px) {
  .img-section img {
    height: 300px;
    width: 350px;
    object-fit: cover;
    margin-bottom: 1rem; }
  .second-section--row {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 0; }
  .second-section--col {
    margin-left: 1rem;
    margin-right: 1rem; }
    .second-section--col img {
      width: 350px; } }

@media (max-width: 320px) {
  .img-section img {
    height: 250px;
    width: 300px;
    object-fit: cover;
    margin-bottom: 1rem; }
  .second-section--row {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 0; }
  .second-section--col {
    margin-left: 1rem;
    margin-right: 1rem; }
    .second-section--col img {
      width: 320px; } }

.form__login, .form__contacto {
  margin: 1rem;
  padding: 1rem;
  background-color: #e2e8c0; }
  .form__login label, .form__contacto label {
    display: block;
    font-family: "Comfortaa", cursive;
    font-size: 1rem;
    text-align: start;
    color: #539e8f;
    font-weight: normal; }
  .form__login button, .form__contacto button {
    font-family: "Comfortaa", cursive;
    font-size: 1rem;
    text-align: center;
    color: #e2e8c0;
    font-weight: normal;
    margin: 1.5rem 0rem 1.5rem 0rem;
    height: 3rem;
    width: 75%;
    background-color: #539e8f; }
  .form__login--alta-usuario {
    background-color: #dde7eb; }
    .form__login--alta-usuario label {
      color: #53839e; }
    .form__login--alta-usuario button {
      background-color: #53839e; }

.form__contacto {
  margin-bottom: 4rem; }
  .form__contacto textarea {
    height: 10vh;
    resize: none; }

.form-group {
  margin-bottom: 1rem; }

.col__login {
  margin-bottom: 16px; }

.row__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
